.wrap-dashboard {
  header {
    width: 100vw;
    height: 70px;
    font-size: 26px;
    font-weight: 600;
    background-color: #0089ce;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    width: 100vw;
    height: 83vh;
    gap: 30px;
    .icon-user,
    .icon-warehouse {
      font-size: 50px;
    }
  }
}
