.wrap-dashboard {
  header {
    width: 100vw;
    height: 70px;
    font-size: 26px;
    font-weight: 600;
    background-color: #0089ce;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100vw;
    height: 82vh;

    .wrap-item {
      width: 100px;
      height: 150px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      gap: 5px;
    }

    .icon {
      font-size: 50px;
    }
  }
}
